// Import variables and fonts
@import 'variables';
@import 'bulma';


// Header styling
header {
  // Hero styling
  &.hero {
    background-image: url('../images/cover.png');
    background-size: cover;
    background-position: center;

    // Hero content
    .hero-body {
      @extend .p-0;

      h1 {
        @extend .has-text-light;
      }
    }
  }

  // Media styling
  .media {
    @extend .is-align-items-center;

    .media-left {
      @extend .mr-6;
    }

    @include mobile  {
      flex-direction: column;

      .media-left {
        margin-right: 0 !important;
        margin-bottom: 1.5rem;
      }

      .media-content {
        text-align: center;
      }
    }
  }
}

// Main styling
main {
  .column {
    @extend .py-5;
  }
}

// Footer styling
footer {
  @extend .is-size-7;
  @extend .has-background-light;
  @extend .has-text-centered;
  @extend .py-5;
}

// Content styling
.content {
  // Element spacing
  & > *:not(:last-child) {
    @extend .mb-4;
  }

  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      @extend .is-family-secondary;
      @extend .has-text-weight-normal;

      @if $i <= 2 {
        @extend .is-uppercase;
        @extend .has-text-primary;
      }

      &:not(:first-child) {
        @extend .mt-6;
      }
    }
  }

  // Link styling
  a:not(.button) {
    color: $link;
    border-bottom: 1px $link dotted;

    transition: 0.1s ease-in-out;

    &:active {
      color: $link-active;
      background: rgba($link-active, 0.15);
      border-bottom-color: $link-active;
    }

    &:hover {
      color: $link-hover;
      background: rgba($link-hover, 0.15);
      border-bottom-color: $link-hover;
    }

    // Links in the header and footer and with overlay have no border
    header &, footer &, &.is-overlay {
      border-bottom: none;
    }

    // Links with overlay have no background
    &.is-overlay:hover, &.is-overlay:active {
      color: $link;
      background: none;
    }
  }

  // Image figure styling
  .image {
    @extend .m-0;
  }

  // Card image styling
  .card-image > .image {
    @extend .mb-0;
  }

  // Media styling
  .media + .media {
    @extend .mt-0;
    @extend .pt-4;

    border-top: none;
  }
}

// Box styling
.is-box {
  @extend .box;
  @extend .is-shadowless;
  @extend .mb-0;
  @extend .p-2;

  border: 1px $border solid;

  &.media {
    @extend .is-flex;

    border-color: $border;
  }
}

// Emoji styling
.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
